body {
    margin: 0;
    padding: 0;
    
}

.bg-img {
    height: 100vh;
    background: url(main/img/background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.bg-black {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

img {
margin: 80px 50px auto 50px;
width: 715px;
height: 480px;
}

.flex {
    display: flex;
}

a {
    font-size: 24px;
    color: yellow;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid yellow;
}

li {
    list-style: none;
}

ul {
    margin: 200px auto auto 0;
}

li + li {
    margin-top: 40px;
}