body {
    background: url(../img-top/title-top.jpg), url(../img/background.jpg);
    background-repeat: no-repeat, repeat;
    background-position: 50% 110px, top left;
    background-size: auto, auto;
}

main h1 {
    text-align: center;
    width: 85%;
    height: 70px;
    line-height: 70px;
    margin: 50px auto 30px auto;
    border: 3px solid rgb(247, 160, 114, 0.7);
    background-color: rgb(247, 160, 114, 0.1);
    color: #495057;
}

main {
    margin-top: 580px;
    background-color: #f5f1ed;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.wrap {
    flex-wrap: wrap;
}

.box {
    width: 300px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: #fbfbff;
    box-shadow: 0px 5px 15px 5px rgb(100, 100, 100, 0.35);
}

.box img {
    border-radius: 10px;
}

.box h2 {
    text-align: center;
    margin: 10px auto;
}

.box p {
    margin: 30px 20px 30px 20px;
    font-size: 22px;
}

.box-img {
    width: 270px;
    height: 160px;
    margin: 15px auto auto auto;
}

.box-img img {
    width: 100%;
    height: 100%;
}