main h1 {
    text-align: center;
    margin-bottom: 30px;
}

.wrap {
    flex-wrap: wrap;
}

.box {
    width: 300px;
    border: 5px double orange;
    margin: 30px auto;
}

.box h2 {
    text-align: center;
    margin: 10px auto;
}

.box p {
    margin: 0 10px 10px 10px;
}