@charset "UTF-8";

body {
    background-color: rgba(0, 71, 178, 0.5);
}

h1 {
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
}

.items {
    background-color: aqua;
    width: 25%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

h2 {
    width: 90%;
    margin: 3px auto;
}

.img-size {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.img-size img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

a {
    width: 80%;
    background-color: rgb(60, 163, 227);
    color: white;
    display: block;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
}

p {
    width: 90%;
    margin: 0 auto;
}
