@charset "utf -8";
h1 {
    margin-left: 16px;
}

p {
    margin-left: 18px;
}

fieldset {
    margin: 10px;
}

input[type] {
    margin: 4px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 7px;
}

a {
    font-size: 0.7rem;
}
