#main, #teacher, #star, #leader, #dlc1, #dlc2{
    margin: 50px 40px;
}

.box {
    width: 100%;
    border-radius: 10px;
    background-color: #fbfbff;
    height: 321px;
    box-shadow: 0px 5px 15px 5px rgb(100, 100, 100, 0.35);
}

main h1::before {
    content: "";
    border-left: 7px solid #00b4d8;
    margin-right: 10px;
}

main h2::before {
    content: "";
    border-left: 7px solid #88d498;
    margin-right: 10px;
}

.photoglaphes {
    width: 440px;
    height: 260px;
}

.photoglaphes img {
    width: 400px;
    height: 225px;
    margin: 20px;
    border-radius: 10px;
}

.page {
    margin: auto;
}

button, input {
    height: 24px;
    margin: auto;
    color: white;
    background-color: #f7a072;
    border: none;
    width: 50px;
}

#main-back, #teacher-back, #star-back, #leader-back, #dlc1-back, #dlc2-back {
    margin-right: 5px;
}

#main-next, #teacher-next, #star-next, #leader-next, #dlc1-next, #dlc2-next {
    margin-left: 5px;
}

.page p {
    margin: 16px 5px;
}