#main-story, #champion, #legend, #star-dust, #long-hole {
    margin: 50px 40px;
}

.slide-show {
    width: 440px;
    height: 260px;
    background-color: #fbfbff;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0px 5px 15px 5px rgb(100, 100, 100, 0.35);
}

.slide-show img {
    width: 400px;
    height: 225px;
    margin: 20px;
    border-radius: 10px;
}

main h1::before {
    content: "";
    border-left: 7px solid #00b4d8;
    margin-right: 10px;
}

main h2::before {
    content: "";
    border-left: 7px solid #88d498;
    margin-right: 10px;
}

ul {
    margin: 20px 40px 0 40px;
    border: 3px solid rgb(247, 160, 114, 0.7);
    background-color: rgb(247, 160, 114, 0.1);
}

li {
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: #495057;
}