@charset "UTF-8";

header h1 {
    color: white;
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    text-shadow:1px 1px 0 black, -1px -1px 0 black,
              -1px 1px 0 black, 1px -1px 0 black,
              0px 1px 0 black,  0 -1px 0 black,
              -1px 0 0 black, 1px 0 0 black;
}

header {
    background-color: whitesmoke;
    padding-bottom: 0.2rem;
}

body {
    background-color: rgb(198, 221, 224);
}

header nav ul {
display: flex;
list-style: none;
padding: 0px;
}

header nav ul li {
    width: 20%;
    text-align: center;
}

header nav li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

header ul li + li {
    border-left: 2px solid black;
}

header ul li a:hover {
    color: aqua;
    background-color: rgba(0, 0, 0, 0.20);
}

.title {
    background-image: url(../img/TitleBackground.png);
    background-position: center;
    background-size: cover;
}

header img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.log {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.23);
}
