@charset "UTF-8";

main {
    background-color: white;
    margin: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
}

main h1 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px rgb(160, 160, 231) double;
}



.history-item {
    margin: 1rem;
}

table {
    background-color: rgba(235, 210, 210, 0.21);
}

th, td {
    border: 2px solid white;
}

table, th, td {
    border-collapse: collapse;
}

.year {
    width: 20%;
}

.item {
    width: 40%;
}

th {
    height: 100px;
}

th p {
    border-bottom: 5px double rgb(97, 237, 97);
    width: 80%;
    margin: 0 auto;
}

td {
    text-align: center;
}