@charset "UTF-8";

main {
    margin: 1rem 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 0;
}

main h1 {
    width: 80%;
    border-bottom: 5px double rgb(116, 116, 223);
    margin: 0 auto;
    text-align: center;
}

.news-item {
    margin: 0.5rem 10%;
}

.container {
    display: flex;
    margin: 0.5rem 0;
}

.news-item h2 {
    border-bottom: 5px solid rgb(250, 188, 74);
    width: 80%;
}

img {
    width: 50%;
}

.container p {
    width: 50%;
    padding: 0.5rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
}